<div class="placeholder">
    <div class="parallax-window" data-parallax="scroll" data-image-src="/img/simple-house-01.jpg">
        <div class="tm-header">
            <div class="row tm-header-inner">
                <div class="col-md-6 col-12">
                    <img src="/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                    <div class="tm-site-text-box">
                        <h1 class="tm-site-title">Simple House</h1>
                        <h6 class="tm-site-description">new restaurant template</h6>
                    </div>
                </div>
                <nav class="col-md-6 col-12 tm-nav">
                    <ul class="tm-nav-ul">
                        <li class="tm-nav-li"><a asp-controller="Home" asp-action="Index" class="tm-nav-link @(ViewBag.menu == "anasayfa"?"active":"")">Ana Sayfa</a></li>
                        <li class="tm-nav-li"><a asp-controller="Menu" asp-action="Index" class="tm-nav-link @(ViewBag.menu == "menulerimiz"?"active":"")">Menulerimiz</a></li>
                        <li class="tm-nav-li" ><a asp-controller="About" asp-action="Index" class="tm-nav-link @(ViewBag.menu == "hakkimizda"?"active":"")">Hakkımızda</a></li>
                        <li class="tm-nav-li" ><a asp-controller="Contact" asp-action="Index" class="tm-nav-link @(ViewBag.menu == "iletisim"?"active":"")">İletişim</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>